html {
    font-size: 26px;
    line-height: 1.6;
}


body {
    background-color : black;
    color: whitesmoke;
    font-family: 'Saira Extra Condensed', sans-serif;
    /*font-family: 'Bungee', cursive;
    font-family: 'Bungee Inline', cursive;
    */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2rem;
}

/* CSS for the table follows ========================*/

.tableContainer {
    border: white solid 1px;
    /*width: 60%;*/
    align-self: center;
}


tr {
    width: 100%;
    justify-content: space-evenly;
}

th, td {
    border: white 1px solid;
    border-collapse: collapse;

}

/* CSS for the table ends ============================*/
/* CSS for dropdown container and button starts ============================*/
.dropDownContainer {
    display: flex;
    text-align: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    color: yellow;
    width:300px;
}

/* CSS for dropdown container and button ends ============================*/

/* CSS for font size weight and colors starts here ========================*/
.boldText {
    font-weight: 900;
}

[class^="characterConfirm"] {
    color: yellow;
}

[id^="homeWorldName"] {
    color: rgb(11, 240, 30);
}

.lightBlue {
    color:lightblue; 
}

.yellow {
    color:yellow    
}


.bigFont {
    font-size:2.0rem
}

.veryBigFont {
    font-size:3.0rem
}
/* CSS for font size weight and colors ends here ========================*/


/* CSS for different text elements on the page starts ============================*/

.button {
    background-color: grey;
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    width: 300px;
    font-family: 'Saira Extra Condensed', sans-serif;
    align-self: center;
    border-radius: 4px;}


/* CSS for different text elements on the page ends ============================*/
/*
Blinking text credit to 
https://html-online.com/articles/blinking-text-css-animation/
*/

.blinkingRed{
    animation:blinkingRed 1.2s infinite;
}
@keyframes blinkingRed{
    0%{     color: rgb(11, 240, 30); }
    49%{    color: rgb(11, 240, 30); }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: #000;    }
}


.blinkingGrey{
    animation:blinkingGrey 1.2s infinite;
}
@keyframes blinkingGrey{
    0%{     color: rgb(113, 247, 235);}
    49%{    color: rgb(113, 247, 235);}
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: #000;    }
}

